.text-form-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.lbl{
    width:30%;
    text-align:right;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.border-light {
    border-color: #e0e0e0 !important;
}

.text-center {
    text-align: center !important;
}

.p-5 {
    padding: 3rem !important;
}

.border-light {
    border-color: #f8f9fa !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}